<div class="container">
    <div class="card">
        <div class="card-header">
            <h3>Listagem de clientes</h3>
        </div>
        <div class="card-body">
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th scope="col" class="table-dark">Name</th>
                        <th scope="col" class="table-dark">Email</th>
                        <th scope="col" class="table-dark">is Active</th>
                        <th scope="col" class="table-dark">Phone</th>
                        <th scope="col" class="table-dark">Revenue</th>
                        <th scope="col" class="table-dark">Agreed Terms</th>
                        <th scope="col" class="table-dark"></th>
                        <th scope="col" class="table-dark"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let c of clientes">
                        <td scope="row">{{c.name}}</td>
                        <td>{{c.email}}</td>
                        <td>{{c.isActive}}</td>
                        <td>{{c.phone}}</td>
                        <td>{{c.revenue}}</td>
                        <td>{{c.agreedTerms}}</td>
                        <td><button class="btn btn-outline-success btn-lg">View</button></td>
                        <td><button class="btn btn-outline-info btn-lg">Edit</button></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>